@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.happy-bday-page{
    width: 100vw; 
    height: 100vh;
    background-size: cover;
    background-color: black;
    margin-top: -53.2px;
}

.birthday-wish{
    font-size: 2em;
    margin-top: 40px;
    font-family: 'Grand Hotel', cursive;
}

